#navCon {
  display: flex;
  justify-content: flex-start;
 
  padding: 5px;
  
  
}

#root > div > nav {
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-left: 50px !important;
}


#navCon > img {
  max-width: 100%;
}

.container {
  padding-top: 25px;
  max-width: 100%;
 
}
 
#inputs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
   
}

#inputs > div:not(:first-child) {
  margin-left: 15px;
}


#air-tiles{
  position: relative;
  color: white;
  width: 100%;
  height: 200px;
     margin: 15px auto;
  border: 2px solid rgb(49, 48, 46);
  box-shadow: 10px 10px 8px #888888;

 }
 #air-tiles span{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45%;
  margin-left: 0px;
  font-weight: bold;
 text-transform: uppercase;}
 
  

 

#demo-tiles > div {
  color: black;

}





 