#root {
  font-family: Helvetica;
}


#root > div > nav {
  display: flex; 
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
  max-width: 100% !important;
  margin: 0 !important;
  padding: 15px 0px 15px 20%;

}




.container {
  padding-top: 25px;
  max-width: 60% !important;
 
}

#root > div > div > h1 {
  
  font-size: 44px !important;
  font-weight: 900;
  color: #000000;
}
 
#inputs {
 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 16px; 
   
}
 
 

#inputs > div:nth-child(2),
#inputs > div:nth-child(3){
  margin-left: 20px; 
}

.col-lg-3 col-md-4 col-sm-6{
  max-width: 100%;
}


#air-tiles {
  /* display: flex;  */
  /* flex-direction: row; */
  align-items: center;
  justify-content: center; 
  padding: 0; 
  position: relative;
  max-width: 100% !important;
  height: 200px;
  margin: 5px; 
  border-radius: 8px; 
  box-shadow: 0px -1px 4px 0px rgba(25, 32, 36, 0.04), 0px 3px 6px 0px rgba(25, 32, 36, 0.16);
  min-width: 0px;
  

 }
 
#root > div > div > div.row > div{
  padding: 0; /* Remove padding */
 
}


 #infoContainer{
  display: flex; 
  padding-left: 1px; 
  flex-direction: row !important;
  align-items: center;
  justify-content: flex-start;
 }


 #infoContainer > img{
  
  justify-self: flex-start !important;
  width:40px;
  height: 40px;
   margin-right: 15px; 
   max-width: 100%;
   height: auto;
   min-width: 0px

}


/* air tiles inactive */

#info-box {
  display: flex;
  flex-direction: column;
  
}

#info-box > p {
   
  color:#192024;
  font-weight: bold;
  font-size: 16px;
   
  margin-top: 20px;
  word-wrap: break-word;
  min-width: 0;

  
}
/*air tiles active */
/*hover box is a ul*/

#hover-box {
  display: none;
 
  
}

 #air-tiles:hover #hover-box { 
 
  display: flex;
  flex-direction: column;
  list-style-type: none; 
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  word-wrap: break-word;
  font-size: 14px;
  font-weight: normal; 
  color: #5a6872
}

 
#hover-box > ul {
  min-width: 0; 
  overflow: break-word;

}
#hover-box > li {
  word-wrap: break-word;
  max-width: 100%;
  white-space: nowrap;
  min-width: 0 !important; 
 
   
}
 



/* @media(max-width:900px) {
  #air-tiles:hover #hover-box {
      margin: 1rem 0.7rem 1rem;
      max-width: 80vw;
      font-size: 10px; 
      margin: 0 auto;
  }

} */